[submodule "git-scripts"]
	path = git-scripts
	url = git@github.com:lopesivan/git-scripts.git
[submodule "imagemagick-scripts"]
	path = imagemagick-scripts
	url = git@github.com:lopesivan/imagemagick-scripts.git
[submodule "bangsh"]
	path = bangsh
	url = git@github.com:lopesivan/bangsh.git
[submodule "recipes"]
	path = recipes
	url = git@github.com:lopesivan/recipes.git
[submodule "tp"]
	path = tp
	url = git@github.com:lopesivan/tp.git
[submodule "shellscript-tool-kit"]
	path = shellscript-tool-kit
	url = git@github.com:lopesivan/shellscript-tool-kit.git
[submodule "xp"]
	path = xp
	url = git@github.com:lopesivan/xp.git
[submodule "code"]
	path = code
	url = git@github.com:lopesivan/code.git
